*{
    padding:0px;
    margin:0px;
    border:border-box;
    

}
.gameName{

display:flex;
justify-content:center;
align-items:center;
height:3rem;

}
 .gameText{
    color:black;
    font-size:5rem;
    font-weight:700;
}
.boxes{
    height:500px;
    width:500px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
    align-items:center;
    margin-top:25px;
    margin-left:400px;
}
.box{
    height:150px;
    width:150px;
    border-radius:10px;
    background-color:black;
    font-size:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700;

};

